body {
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
}

#Container {
    border-radius: 15px;
    background-color: #fcfcfc;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.stuff {
    display: inline-flex;
    flex-direction: column;
    align-self: center;
}

.music-list-container {
    width: 80%;
    margin: 0 auto;
}

.music-list {
    border-collapse: collapse;
    display: none;
}

.music-list th:first-child{width: 24%}
.music-list th:last-child{width: 10%}
.music-list th:not(:first-child):not(:last-child){width: 33%;}

.music-list th, .music-list td {
    border: 1px solid black;
    vertical-align: top;
    padding: 10px;
}

.center-text {
    text-align: center;
}

#footer {
    text-align: center;
    font-size: 12px;
}
