body {
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

hr {
    width: 90%;
}

#Container {
    width: 70%;
    margin: auto;
    border-radius: 15px;
    background-color: #fcfcfc;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.nav-buttons {
    font-size: 20px;
}

.stuff {
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.music-list-container {
    width: 90%;
    margin: 0 auto;
}

.music-list {
    border-collapse: collapse;
    display: none;
}

.music-list th:first-child{width: 24%}
.music-list th:last-child{width: 10%}
.music-list th:not(:first-child):not(:last-child){width: 33%;}

.music-list th, .music-list td {
    border: 1px solid black;
    vertical-align: top;
    padding: 10px;
}

.album-art {
    cursor: pointer;
    vertical-align: center;
}

a[id*=toggle] {
    color: blue;
    cursor: pointer;
}

div#banner {
    background-image: url(../img/freqfest_orig.jpg);
    background-repeat: no-repeat;
    background-position: center 42%;
    background-size: 94%;
    padding: 40px;
    margin: 0 20px;
}

div#banner h1 {
    color: white;
    text-shadow: 2px 2px black;
    text-align: left;
    margin-left: 15%;
}

.center-text {
    text-align: center;
}

#footer {
    text-align: center;
    font-size: 12px;
}

#top-button {
    display: none; 
    position: fixed; 
    bottom: -5px; 
    right: 10px; 
    z-index: 99; 
    border: 1px solid grey;
    background-color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    opacity: 1;
}

#top-button:hover {
    opacity: 0.5;
    transition: opacity 0.2s;
}