<!DOCTYPE html>
<html>
    <head>
        <title>vince kaichan news archive</title>
    </head>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <body>
        <div id="Container">
            <br>
            <div id="banner">
                <h1>vince kaichan</h1>
            </div>
            <br>
            <br>
            <div class="center-text">
                <div class="nav-buttons"><a href="index.html">home</a> | <a href="index.html#works">works</a> | <a href="index.html#contact">contact</a></div>
            </div>
            <br>
            <hr>

            <div class="stuff">
                <h2 id="news-archive">news archive</h2>
                <div class="list-container">
                  <table class="news-list">
                    {% for post in news %}
                        {# skip the initial entry that just has comments and instructions #}
                        {% if post.date is defined and post.content is defined %}
                        <tr>
                          <td>{{ post.date }}</td>
                          <td>{{ post.content }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                  </table>
                </div>
            </div>
            <br>
            <hr>
            <div id="footer"></div>

        </div>
        <button id="top-button" onclick="goto_top()">go to top</button>

        <script type="text/javascript" src="js/footer.js" charset="utf-8"></script>
        <script type="text/javascript" src="js/expandable_list.js" charset="utf-8"></script>
        <script type="text/javascript" src="js/goto_top.js" charset="utf-8"></script>
    </body>
</html>
